[user]
	email = therewasa@fishinthecalculator.me
	name = Giacomo Leidi
	signingkey = 50E17BE0D210C883D67531504A3D07EFD05C4045
[core]
	editor = emacs
[sendemail]
	smtpServer = smtp.mailbox.org
	smtpuser = therewasa@fishinthecalculator.me
	smtpencryption = tls
	smtpserverport = 587
[pull]
	rebase = true
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	keepBackup = false
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[color]
	ui = auto
[commit]
	gpgsign = true

[alias]
	staash = "stash --all"
	bblame = "blame -w -C -C -C"
        wta = "!f() { git worktree add -b \"$1\" \"../$1\"; }; f"
        wtr = "!f() { git worktree remove \"../$1\"; }; f"
        wtl = "!f() { git worktree list; }; f"

# REuse REcorded REsolution
[rerere]
	enabled = true

[column]
	ui = auto

[branch]
	sort = -committerdate
